.title {
    border: 6px solid rgb(90,50,0);
    background-color: rgba(204, 138, 5, 0.593);
    text-align: center;
    font-family: "Lucida Console", georgia, monospace;
}

button {
    width: 32.8vw;
    height:80vh;
}

.wcbutton {
    background-image: url("./images/welsh_cakes.jpeg");
    background-size:contain;
    background-color: beige;
}

.cobutton {
    background-image: url("./images/omelette.jpg");
    background-size: contain;
    background-color: beige;
}

.fpbutton {
    background-image: url("./images/frozen_pizza.jpg");
    background-size: contain;
    background-color: beige;
}