body {
    font-family: "Lucida Console", georgia, monospace;
    background-color: beige;
}

p img {
    border: 4px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title.homepage {
    border: 6px solid rgb(90,50,0);
    background-color: rgba(204, 138, 5, 0.593);
}

.title {
    text-align: center;
}

button {
    width: 32vw;
    height:80vh;
    font-size: xx-large;
    font-family: "Lucida Console", georgia, monospace;
    font-weight: bold;
    color: white;
}

div.text {
    background-color: rgba(0, 0, 0, 0.75);
}

.wcbutton {
    background-image: url("./images/welsh_cakes.jpeg");
    background-size:contain;
    background-color: beige;
}

.cobutton {
    background-image: url("./images/omelette.jpg");
    background-size: contain;
    background-color: beige;
}

.fpbutton {
    background-image: url("./images/frozen_pizza.jpg");
    background-size: contain;
    background-color: beige;
}

.recipe {
    border: 4px solid hsl(49, 100%, 72%);
    background-color: hsl(57, 97%, 89%);
    width:33%;
    margin-left: auto;
    margin-right: auto;
}